# === OS Specific ===
.DS_Store
**/.DS_Store

# === CLion / JetBrains ===
.idea/
cmake-build-*/
*.iml

# === RSA keys ===
*.pem

# === Build Artifacts ===
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake

# === Binary & Object Files ===
*.out
*.o
*.obj
*.exe
*.so
*.a
*.dll


# === Logs / Debugging ===
*.log
*.core

# === Misc ===
*.swp
*.tmp
